body {
    background-color: rgb(15, 15, 15);
    color: white;
    text-align: center;
    padding: 50px 20px;
}

.title {
    font-size: 30px;
    font-weight: bold;
}

.move-icon {
    height: 50px;
}

.move-button {
    background-color: transparent;
    border: 3px solid white;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    margin-right: 10px;
    cursor: pointer;
}

.result {
    font-size: 25px;
    font-weight: bold;
    margin: 50px;
}

.move-number {
    margin-top: 60px;
    font-size: 20px;
}

.score {
    margin-top: 60px;
}

.reset-score-button {
    border: none;
    font-size: 15px;
    padding: 8px 15px;
    cursor: pointer;
    background-color: red;
    margin-right: 10px;
    border-radius: 20px;
}

.auto-play-button {
    border: none;
    font-size: 15px;
    padding: 8px 15px;
    cursor: pointer;
    background-color: rgb(250, 192, 54);
    border-radius: 20px;
}

.stop-play-button {
    border: none;
    font-size: 15px;
    padding: 8px 15px;
    cursor: pointer;
    background-color: red;
    align-items: stretch;
    border-radius: 20px;
}
